@font-face {
    font-family: 'Cantarell-Woff';
    font-style: normal;
    font-weight: 400;
    src: url('Cantarell-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cantarell-Woff';
    font-style: normal;
    font-weight: 700;
    src: url('Cantarell-Bold.woff') format('woff');
}
